pillow
python-dotenv
fastapi
uvicorn
python-multipart
pydantic
pydantic-settings
google-genai
tavily-python
requests
langchain
langchain-core
langchain-google-genai
langchain-community
supabase
langsmith
youtube_transcript_api
fpdf2==2.7.9