pillow
python-dotenv
fastapi
uvicorn
python-multipart
pydantic
pydantic-settings
google-generativeai
tavily-python
requests
langchain
langchain-core
langchain-google-genai
langchain-community
supabase
langsmith
youtube_transcript_api